<?php
namespace App\Model;

use System\Database\ORM\Model;


class ClassName extends Model
{

    protected $table = 'TableName';

    protected $fillable= [];

    protected $hidden= [];

    protected $casts= [];

}